{% extends "base.html" %}
{% load app_filters %}

{% block content %}
  <div class="pure-g" id="group_name">
    <div class="pure-u-1-1">
      <p>{{ name }}</p>
        <a href="{% url "new_transaction" group_id=group_id %}"><i class="fa fa-plus"></i></a>
    </div>
  </div>

  {% for person in people %}
    <div class="pure-g person-balance">
    <div class="pure-u-3-5 name"><a href="{% url "show_person" group_id=group_id person_id=person.id %}"><p>{{ person.name }}</p></a></div>
      <div class="pure-u-2-5 balance">
        {% if person.name %}
          <p>{{ person.balance|stringformat:".02f"|dollar_amount }}</p>
        {% endif %}
      </div>
    </div>
  {% endfor %}

{% endblock content %}