html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: "Palatino", serif;
}

#titlebar {
  background-color: #4A90E2;
  margin-top: 0;
}

#logotext {
  line-height: 49px;
  padding: 0 15px;
  color: #fff;
}

#titlebar i {
  float: right;
  color: #fff;
  font-size: 1.5em;
  margin: 15px 10px;
}

.pure-g {
  height: 49px;
  margin: 1px 0;
}

#group_name {
  padding: 0 15px;
  position: relative;
}

#group_name i {
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 49px;
  padding: 0 15px;
  font-size: 1.5em;
  color: #4A90E2;
}

.person-balance:nth-of-type(odd) {
  background-color: #4A90E2;
}

.person-balance:nth-of-type(even) {
  background-color: #AFD3FD;
}

.person-balance .name p {
  color: #fff;
  padding: 0 15px;
}


.person-balance .balance p {
  color: #fff;
  padding: 0 15px;
  text-align: right;
}

.new-group-name,
.new-transaction-name,
.new-transaction-amount {
  height: 39px;
  position: relative;
}

#new_group_form input[name="name"],
#new_transaction_form input[name="name"],
#new_transaction_form input[name="amount"] {
  box-sizing: border-box;
  height: 39px;
  padding: 0 15px;
  width: 100%;
}

.new-group-member,
.group-member {
  position: relative;
}

.new-group-member:nth-of-type(even),
.transaction-member:nth-of-type(odd),
.group-item:nth-of-type(odd) {
  background-color: #4A90E2;
}

.new-group-member:nth-of-type(odd),
.transaction-member:nth-of-type(even),
.group-item:nth-of-type(even) {
  background-color: #AFD3FD;
}

.new-group-member input {
  background: transparent;
  box-sizing: border-box;
  width: 100%;
  border: 0;
  line-height: 49px;
  padding: 0 15px;
  color: #fff;
}

.transaction-member p,
.group-item p {
  box-sizing: border-box;
  width: 100%;
  line-height: 49px;
  padding: 0 15px;
  margin: 0;
  color: #fff;
  text-align: center;
}

.transaction-member .name p,
.group-item p {
  text-align: left;
}

.group-item a {
  text-decoration: none;
}

#new_group_form input[type=submit],
#new_transaction_form input[type=submit] {
  width: 100%;
  height: 49px;
  background: #4A90E2;
  border: 0;
  color: #fff;
}

#new_transaction_form input[type=checkbox] {
  display: none;
}

#new_group_form #name_error,
#new_transaction_form #name_error,
#new_transaction_form #amount_error {
  display: block;
  position: absolute;
  right: 0;
  top: -3px;
  padding: 0 15px;
  color: red;
}

#new_group_form #member_error {
  display: block;
  position: absolute;
  right: 0;
  top: 2px;
  padding: 0 15px;
  color: red;
}

#titlebar a {
  text-decoration: none;
}